<%= form_for(@feature) do |f| %>
  <% if @feature.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@feature.errors.count, "error") %> prohibited this feature from being saved:</h2>

      <ul>
      <% @feature.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :feature_name %><br />
    <%= f.text_field :feature_name %>
  </div>
  <div class="field">
    <%= f.label :franchise_set_id %><br />
    <%= f.number_field :franchise_set_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
