<h1>Listing features</h1>

<table>
  <tr>
    <th>Feature name</th>
    <th>Franchise set</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @features.each do |feature| %>
  <tr>
    <td><%= feature.feature_name %></td>
    <td><%= feature.franchise_set_id %></td>
    <td><%= link_to 'Show', feature %></td>
    <td><%= link_to 'Edit', edit_feature_path(feature) %></td>
    <td><%= link_to 'Destroy', feature, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Feature', new_feature_path %>
